.container {
    // background-image: url("../Images/backg.png");
    border: none;

    a {
        color: #fff;
    }

    .link {
        color: #fff;
    }

    .link:hover {
        color: #fff;
        opacity: 0.8;
    }
}