.container {
    margin: 100px auto;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    cursor: pointer;

    h5 {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 600;
        font-size: 16px;
    }

    p {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }

    .controls {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
            background-color: #420075;
            border: none;
            margin-left: 5px;
            margin-right: 5px;
            font-family: Arial, Helvetica, sans-serif;
        }
    }
}